body {
    background-color: darkgray;
}
.shaka {
    height: 40px;
    width: 50px;
    padding-left: 40px;
}

.picture {
    height: 320px;
    width: 400px;
    float: left;
    padding-left: 40px;
}

.family {
   display: table;
    padding-left: 250px;
 }

.inf {
    width: 200px;
      float: left;
    padding-left: 60px;
}

.review {
    width: 200px;
       float: left;
    padding-left: 250px;

}

section.img {
    margin-top: 2em;
    padding-top: 300px;
}
section.img h2 {
        text-align: center;
    }
figure img {
    height: 250px;
    width: 300px;
}

div#block1 figcaption, div#block2 figcaption {
        color: black;
        font-size: 100%;
        text-align: center;
}
#block1 {
    display: flex;
    justify-content: space-evenly;
}
#block2 {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
@media screen and (max-width: 400px){
    #block1 {
        display: flex;
        justify-content: space-evenly;
    }
    #block2 {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1,1fr);}
}
footer {
    text-align: left;
}

